@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kanit:wght@500;600;700&display=swap');


body {
    margin:0px;
    
}
.project {
    font-family: 'Inter', sans-serif;
    background-color: #F1F1F1;
    margin: 0px;
    width:100%;
    
}
.first-page, .third-page {
    padding: 20px 50px;
    margin-bottom: 100px;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-family: 'Kanit', sans-serif;
}
.header-buttons, .footer-buttons {
    display: flex;
    column-gap: 20px;
    margin: 0;
    padding: 0;
}
.header-ul li{
    margin-left: 20px;
}
.header-button1, .footer-button {
    border:none;
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28,28,28,0);
}
.header-button2 {
    background-color: rgb(216, 215, 215);
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1, .section4 {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    column-gap: 100px;
    display: flex;
    align-items: center;
}
.ph1 {
    width: 60%;
}
.ph2 {
    width:100%;
}
.section-title {
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    
    font-weight: 700;
}
.section1-button {
    background-color: #712FFF;
    border: none;
    width: 50%;
    height: 50px;
    border-radius: 100px;
    margin-top: 30px;
    color: white;
}
.section-p {
    font-size: 16px;
    line-height: 22px;
    
}
.second-page, .third-page {
    display: flex;
    row-gap: 100px;
}
.section2 {
    
    width:100%;
    background-color: #E1DEE7;
    border-radius: 32px;
    
}
.section2-title {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section2-blocks {
    margin-left: 70px;
}
.section2-content {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
}
.section2-content-title {
    
    font-weight: bold;
    font-size: 24px;
}
.icon {
    width: 15%
}
.section3-content {
    margin-top: 100px;
}
.section3-search {
    display: flex;
    flex-direction: row;
}
.section3-input-img {
    margin-left: 13px;
}
.section3-input {
    
    background-color: white;
    width: 620px;
    height: 50px;
    border: 1px solid #E1DEE7;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    column-gap: 13px;
}
.section3-input-text {
    border:none;
    width: 495px;
}
.section3-input-text:focus {
    outline-width: 0;
}
.section3-content-button {
    background-color: #712FFF;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    margin-left: 10px;
    color: white
    
}

.section4-button {
    background-color: #712FFF;
    border: none;
    width: 114px;
    height: 50px;
    border-radius: 100px;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}
.section4 {
    padding: 65px 50px;
}
.footer {
    width: 90%;
    background-color: white;
    padding: 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.footer-button{
    font-size: 14px;
}

.footer-text {
    font-size: 14px;
    font-weight: 18px;
    opacity: 50%;   
}

.footer2 {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top:0px;
    margin-bottom: 30px;
    color: #081E34;
}

@media screen and (max-width: 320px) {
    body {
        margin: 0;
        padding: 0;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width:250%;
    }
    .section1, .section2-content, .section3-search,  .section4, .footer, .footer-buttons{
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        
    }
    .header-button1 {
        display: none;
    }
    .section1 {
        width:100%;
    }
    .second-page {
        width: 100%;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        background-color: #E1DEE7;
    }
    .section2-content {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 40px;
    }
    
    .section2-content-title {
        
        width: 100%;
    }
    .section-p {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        justify-content: center;
    }
    .section2 p {
        text-align: start;
    }
    .section2-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section3 {
        justify-content: center;
    }
    .header {
        font-size: 1.5rem;
    }
    .header-logo {
        
        margin-right: 20px;
    }
    .header-button2 {
        width: 10rem;
        font-size: 1.5rem;
        height: 70px;
        border-radius: 100px;
    }
    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .section-title {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        text-align: center;
    }
    .section3 {
        display: flex;
    }
    .section3-search {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .section3-input {
        display: flex;
        height: 100px; 
    }
    .section3-input-img {
        width: 48px;
        height: 48px;
        margin-left:30px;
    }
    .section3-input-text {
        font-size: 2rem;
    }
    .section3-content-button {
        width: 200px;
        height: 80px;
        font-size: 1.5rem;
        margin-top: 50px;
    }
    .section1-button {
        display: flex;
        width: 250px;
        height: 80px;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .section1-text, .section4-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ph1 {
        margin-top: 100px;
        width: 100%;
    }
    .ph2 {
        width: 85%;
        display: flex;
        margin-left: 30px;
    }
    .icon {
        width: 7%;
    }
    .section4 {
        padding: 0;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
    }
    .section4 p{
        width: 90%;
    }
    .section4-button {
        display: flex;
        width: 200px;
        height: 80px;
        font-size: 1.5rem;
    }
    .upload-button {
        width:40px;
        height: 40px;
    }
    .footer-button {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        font-size: 1.2rem;
        margin-top: 30px;
    }
    .footer {
        width: 200%;
        align-items: start;
    }
    .section2-blocks {
        margin: 0;
    }
    .footer-text {
        font-size: 1.4rem;
    }
    .footer2 {
        font-size: 1.4rem;
    }
}